/* selektor uniwersalny "*", łapie wszystkie elementy na stronie */

* {
    margin: 0;
}

/* selektor znacznika - lapie WSZYSTKIE wystapienia danego znacznika na stronie */

/*
p {
    margin: 5px;
}
*/

/* selektor klasy".". lapie elementy z podana klasa */

.green {
    color: green;
}

.blue {
    color: blue;
}

/*pozycjonowanie*/

/*zmieniajac pozycje na inna niz statis )statysczna) otrzymujemy  dostep do wlsciwosci top, left, right, bottom. oznaczaja on: "odsun od kierunku krawedzi o:"*/

.bgGreen {
    background-color: green;
    height: 400px;
    color: white;
    position: relative;
}

.bgRed {
    background-color: red;
/*    height: 10px;*/

    /*    pozycjq reltywna odsuwa element od krawedzitop, left, right, bottom o podana jednostke wzgledem miejsca, w ktorym normalnie by sie znajdowal*/
    
/*
    pozycjonowanie anbsolutne odbywa się wzgledem elementu rodzica, ktory jest w pozycji relatywnej (jezeli nie ma takiego elementu, to ustawia sie wzgledem elementu body) 
    Ustawiajac pozycje absolutna, mimo, ze jest to element blokowy (display:block), element dostosowuje sie do contentu
*/
    position: absolute;
    top: 60px;
    left: 30px;
}

/*position relative*/

.bgBlue {
    background-color: blue;
}

/*relatywna w relatywnej*/

/*grupowanie selektorow po przecinku ","*/

.relative,
.relative-inner {
    position: relative;
}

.relative {
    background-color: yellow;
    height: 400px;
}

.relative-inner {
    background-color: pink;
    height: 50%;
    width: 50%;
    top: 100px;
    left: 25%;
}

/*position: fixed - pozwala na ustawienie elementu wzgledem OKNA PRZEGLADARKI*/

#main-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99999;
    background-color: aqua;
}

#selektor-uniwersalny {
    margin-top: 90px;
}

/*jednostki miary*/
#jednostki-miary {
    font-size: 30px
    
}

#jednostki-miary > div {
    background-color: aquamarine;
    margin: 10px 0 10px 0;
}

#piksele {
    width: 400px;
}

#em {
    width: 20em;
}

#procenty {
    width: 50%;
}

#main-header {
    height: 100vh;
    background-color:beige;
}
/*pasek ma zazwyczaj szerokość 12 pikseli jednostek*/
/*calc - liczenie, aby używać vh, najlepiej odjąć pasek szerokości*/
/*rgba do przezroczystych*/

/*pseudoelementy*/
#main-nav ul {
    list-style-type: none;
}

#main-nav ul li::before {
    font-family: FontAwesome;
    content: '\f2dd';
}

/*pseudoelementy są składowymi elementow*/
/*pseudoelement nie istnieje bez kontentu*/

#main-header h1 {
    line-height: 100vh;
    text-align: center;
    position: relative;
}

#main-header h1::before,
#main-header h1::after {
    content:'';
    display: inline-block;
    width: 20%;
    border-top: 2px solid blue;
    position: absolute;
    top: 50%;  
}

#main-header h1::before {
    left:10%;
}

#main-header h1::after {
    right: 10%
}

/*pseudoklasy - po akcji uzytkownika, lub gdy maja okreslone miejsce w strukturze*/
#main-nav ul .list-item:first-child a {
    color: red
}

#main-nav ul .list-item:last-child a {
    color: red
}

/*hover - kiedy myszka nad */
#main-nav ul .list-item a:hover {
    text-decoration: none;
    color: violet;
}

form input:focus {
    border: 5px solid blue;
}

/* :visited okresla stan odwiedzonego linka */
#main-nav ul .list-item a:visited {
    color: gray;
} 

/* nth-of */
/*nth-child lapie dziecko o okreslonym selektorze, tylko wtedy, kiedy jes na okreslonym miejscu*/

#dzieci p:nth-child(3) {
    background-color: aqua;
}

/*nth-of-type lapie selektor o okreslonym typie*/
#dzieci p:nth-of-type(odd) {
    background-color: aqua;
}

/*nth-last-of-type lapie zaczyna numerowanie elementow od konca*/
#dzieci p:nth-of-type(odd) {
    background-color: aqua;
}

/*an+b , a - oznacza co ile elementow przeskakujemy, b - oznacza od ktorego elementu zaczynamy*/
#dzieci p:nth-of-type(3n+1) {
    background-color: violet;
}